 * {
    padding: 0;
    margin: 0;
    }

html,
body {
    height: 100%;
}

.main {
    position: relative;
    color: #F6F6F8;
}

.main .main_img {
    width: 100%;
    height: 100%;
    background-image: url(../Images/Main.jpg);
    background-size: 100% 100%;
}

.main .main_name {
    position: absolute;
    width: 200px;
    height: 80px;
    font-size: 5em;
    letter-spacing: 0.1em;
}

.main .main_motto1 {
    position: absolute;
    height: 100px;
    width: 40px;
    font-size: 1.6em;
}

.main .main_motto2 {
    position: absolute;
    height: 100px;
    width: 40px;
    font-size: 1.6em;
}

.main .main_motto3 {
    position: absolute;
    height: 100px;
    width: 40px;
    font-size: 1.6em;
}

.main .main_pull_down {
    position: absolute;
    left: calc(50% + -35px);
    bottom: 20px;
    width: 70px;
    height: 70px;
    background-image: url(../Images/PullDown.png);
    background-size: 100% 100%;
}